# Python bytecode files
*.pyc
*.pyo
__pycache__/

.idea

.env
# Virtual environment directories
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Test / coverage reports
*.cover
*.tox/
*.nox/
.coverage
*.hypothesis/
.pytest_cache/

# PyCharm, VS Code and other IDEs
.idea/
.vscode/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Logs
*.log